<nav class="navbar navbar-expand-md navbar-light" >
    <a class="navbar-brand {% if request.path == '/' %} active {% endif %}" href="/">Neural Résumé</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="navbar-item {% if request.path == '/resumes' %} active {% endif %}">
                <a class="nav-link" href="/resumes">Résumés</a>
            </li>
        </ul>
    </div>
</nav>
